section.title img{
    display: flex;
    flex: 1;
    margin: auto;
    max-width:800px;
    width: 80%;
}
body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 2em;
}
h2{
    color: white;
    text-align: center;
    font-size: 2em;
}
h3{
    color: white;
    text-align: center;
    font-size: 2em;
}
h4{
    color: white;
    text-align: center;
    font-size: 2em;
}
div.doc {
    border: double;
    border-width:6px;
    color: white;
    background-color: black;
    padding: 6.5em;
    margin: auto;
}
div.update p{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.5em;
    padding: 2em;
}
div.welcome p{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.5em;
    padding: 2em;
}
div.questions p{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.5em;
    padding: 2em;
}
div.text p{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.5em;
    padding: 2em;
}
div.questions li{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.5em;
    padding: 2em;
}
div.doc p{
    color: white;
    border: double;
    border-width:6px;
    color: white;
    background-color: black;
    font-size: 2em;
    padding: 2em;
}
div.svg figure{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.25em;
    padding: 2em;
}
div.vis p{
    color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.25em;
    padding: 2em;
}
div#cyto {
     width: 65vw;
     height:100vh;
     position:absolute;
     margin:auto;
     border-style:double;
 }
section.title h1 {
    color: white;
    text-align: center;
}
nav {
    border:6px;
    border-style:double;
    color: white;
    background-color: black;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  word-spacing: 0px;
  margin-left:0%;
  margin-right:0%;
}
nav ul li {
  display: inline;
  font-size: 20px;
  word-spacing:0px;
}
nav ul li a {
  display: block;
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 20px 14px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color:darkgrey;
}    
table{
   color: white;
    border: double;
    border-width:6px;
    background-color: black;
    font-size: 1.5em;
    padding: 2em; 
}
iframe{
    display: block;
    margin: auto;
}